p {
   text-align: center;
}
#banner{
    width:100%
}

.principai{
    background-color: darkgrey;
    padding: 30px;
}
#missao {
    font-size: 20px
}
h1 {
    text-align: center
}
body {
 
}
em strong {
    color: red;
}
.beneficios{
    background-color: white;
    padding: 20px;
}
h2{
    text-align: center;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}
.imagembeneficios{
    width: 50%;
}